@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body header {
    font-family: 'Libre Baskerville', serif;
}

body > header > h1 {
    text-shadow:  2px 2px 1vw #00c8ff,1px 1px 2vw #5400aa;    
    font-size: 5vw;
    color: black;
    text-align: left;
    padding: 2vw 0 0 2vw;
}

#navegacao {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 2vw;
    margin: 0 0 0 1vw;
}

body > header > nav > a {
    background-image: linear-gradient(to right, #00c8ffa0, #5500aa87, black);
    color: white;
    text-decoration: none;
    justify-content: center;
    border-radius: 10px 0px;
    padding: 5px;
    margin: 2px;
}

body > header > nav > a:hover {
    background-image: linear-gradient(to right, #00c8ff, #5400aa, black);
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.pokemons {
    background-color: antiquewhite;
    display: flexbox;
    margin: auto;
    width: 90vw;    
    height: 90vh;
}

body > section > div{
    display: inline-block;
    margin: 5px;
    background-color: aqua;
}

