@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #6d00da3b;
}

body > header {
    max-width: 90vw;
    margin: auto;
    border: 5px solid red;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
}

body > header > h1 {
    
    text-shadow:  2px 2px 1vw #00c8ff,1px 1px 2vw #5400aa;    
    font-size: 5vw;
    
}

